<table>
  <tr>
    <th>Start date</th>
    <th>End date</th>
    <th>Status</th>
  </tr>
  <% cat.rental_requests.each do |rental| %>
  <tr>
    <td><%= rental.start_date %></td>
    <td><%= rental.end_date %></td>
    <td>
      <% if rental.pending? %>
        <%= button_to 'Approve', approve_cat_rental_request_url(rental), method: :put %>
        <%= button_to 'Deny', deny_cat_rental_request_url(rental), method: :put %>
      <% else %>
        <%= rental.status %>
      <% end %>
    </td>
  </tr>
  <% end %>
<table>
