<!DOCTYPE html>
<html>
  <head>
    <title>GoalsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Goal Setting App</h1>

    <% if logged_in? %>
      <p>Hello, <%= current_user.email %></p>
      <%= button_to 'Logout', session_url, method: :delete %>
    <% else %>
      <ul>
        <li><%= link_to 'Sign up', new_user_url %></li>
        <li><%= link_to 'Sign in', new_session_url %></li>
      </ul>
    <% end %>

    <%= yield %>

    <%= render 'layouts/errors' %>
  </body>
</html>
