<h1><%= link_to @post.title, @post.url, target: :_blank %></h1> 
<h3>by <%= @post.author.email %></h3>
<h2>Content:</h2>
<p><%= @post.content %></p>

<section class="subs-section">
  <hr>
  <h2>Posted on:</h2>
  <ul>
    <% @post.subs.each do |sub| %>
      <li><%= link_to sub.title, sub_url(sub.id) %></li>
    <% end %>
  </ul>

  <% if logged_in? %>
    <hr>    
    <%= link_to 'Add Comment', new_post_comment_url(@post) %>
    <% if current_user == @post.author %>
      <%= link_to 'Edit Post', edit_post_url(@post) %>
    <% end %>
  <% end %>
</section>

<section class="subs-section">
  <hr>
  <h2>Comments</h2>
  <ul>
    <% @comments_by_parent_id[nil].each do |c1| %>
      <li><%= link_to c1.content, comment_url(c1) %> 
      <span><%= " by #{c1.author.email} at #{c1.created_at.strftime('%H:%M %d-%b-%y')}" %></span>
      <%= render 'comments/comment', comments_by_parent_id: @comments_by_parent_id, c1: c1 %>
      </li>
    <% end %>
  </ul>
</section>


