<h2><%= @user.email %>'s Profile</h2>
<h3><%= @user.email %>'s Goals</h3>
<%= render @user.goals %>

<h3>Comments</h3>
<%= render @user.comments %>

<% if logged_in? %>
  <%= render 'comments/add_comment', 
    action_url: user_comments_url(@user.id) %>
<% end %>